[submodule "lib/lib/fx-gltf"]
	path = lib/fx-gltf
	url = https://github.com/jessey-git/fx-gltf.git
[submodule "lib/lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/LotusLib"]
	path = lib/LotusLib
	url = https://github.com/Puxtril/LotusLib.git
[submodule "lib/tclap-code"]
	path = lib/tclap-code
	url = https://git.code.sf.net/p/tclap/code
[submodule "lib/ddspp"]
	path = lib/ddspp
	url = https://github.com/Puxtril/ddspp.git
[submodule "Binary-reader"]
	path = lib/Binary-Reader
	url = https://github.com/Puxtril/Binary-Reader.git
[submodule "lib/qt5"]
	path = lib/qt5
	url = https://code.qt.io/qt/qt5.git
