[submodule "lib/lib/fx-gltf"]
	path = lib/fx-gltf
	url = https://github.com/jessey-git/fx-gltf.git
[submodule "lib/lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/LotusLib"]
	path = lib/LotusLib
	url = https://github.com/Puxtril/LotusLib.git
[submodule "lib/tclap-code"]
	path = lib/tclap-code
	url = https://git.code.sf.net/p/tclap/code
[submodule "lib/ddspp"]
	path = lib/ddspp
	url = https://github.com/Puxtril/ddspp.git
[submodule "lib/QtOpenGLViewer"]
	path = lib/QtOpenGLViewer
	url = https://github.com/Puxtril/QtOpenGLViewer.git
[submodule "lib/bcdec"]
	path = lib/bcdec
	url = https://github.com/iOrange/bcdec.git
[submodule "lib/libspng"]
	path = lib/libspng
	url = https://github.com/randy408/libspng.git
[submodule "lib/PhysxParser"]
	path = lib/PhysxParser
	url = https://github.com/Puxtril/PhysxParser.git
